.Big {
    position: absolute;
    width: 90vw;
    height: 90vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(6.25%, 6.25%);
    box-shadow: 0 0 100px orange;
    border-radius: 10px;
  }
  
 