.dropdown {
    transform: translateY(-950px);
    position: relative;
    display: inline-block;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
    z-index: 100;
  }
  
  .dropdown-button {
    padding: 20px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dropdown-button:hover {
    color: black; 
  }
  
  .arrow {
    margin-left: 10px;
    border: solid black;
    border-width: 2px 2px 0 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    transition: transform 0.3s;
  }
  
  .dropdown:hover .arrow {
    transform: rotate(135deg); 
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu {
    transform: translateX(5%);
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    width: fit-content;
    background-color: transparent;
    z-index: 1;
    box-shadow:none;
  }
  
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu button {
    font-size:120%;
    background-color: transparent;
    font-style:normal;
    padding: 10px;
    cursor: pointer;
    border-color: black ;
    border-radius: 10%;
  }
  
  .dropdown-menu button:hover {
    background-color: #ddd;
  }
  