html {
  scroll-behavior: smooth;
}

body {
  background-color: beige;
  height:200vh;
  overflow:hidden;
}

.Blurb {
    content: center;
    text-align:center; 
    font-size: 20px;
    font-style: italic;
    height:fit-content;
    width:50%;
    border: dashed 2px black;
    border-radius: 10px;
    position: absolute;
    left: 50vw;
    top: 75vh;
    transform: translate(-50%, -50%);
    position: absolute;
}

.Dog {
  border: dashed 2px black;
  border-radius: 10px;
  width:25vw;
  position:absolute;
  height:45vh;
  left:50vw;
  transform: translate(-110%, 30%)
}

.sDog {
  border: dashed 2px black;
  border-radius: 10px;
  width:25vw;
  position:absolute;
  height:45vh;
  right: 25vw;
  transform: translate(10%,30%)
}
