body {
  background-color: pink;
}

.App-header {
    position: absolute;
    text-align:center; 
    font-size: 1000%;
    font-style: italic;
    top:40%;
    left:37.5%;
    right:50%;
    bottom:50%;
}